<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
	<sitecore unicorn:require="Enabled">
		<unicorn>
			<configurations>
				<configuration name="Project.HabitatHome.Website" description="Habitat Home content" dependencies="Foundation.*" extends="SxaBysoft.Base">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Bysoft.Content" database="master" path="/sitecore/content/Main Tenant/Bysoft" >
							<exclude path="Home" />
							<exclude childrenOfPath="Data/*" />
							<exclude childrenOfPath="Settings/Redirects" />
							<exclude childrenOfPath="Settings/Item Queries/User Defined" />
							<exclude childrenOfPath="Settings/Scopes/User Defined" />
						</include>
						<include name="Bysoft.Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Main Tenant/Bysoft" />
						<include name="Bysoft.Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Main Tenant/Bysoft" />
						<include name="Bysoft.System.Settings" database="master" path="/sitecore/system/Settings/Project/Main Tenant/Bysoft" />
						<include name="Bysoft.Media" database="master" path="/sitecore/media library/Project/Main Tenant/Bysoft" />
						<include name="Bysoft.Forms" database="master" path="/sitecore/Forms/Main Tenant/Bysoft" />
						<include name="Bysoft.Theme" database="master" path="/sitecore/media library/Themes/Main Tenant" />
						<include name="Bysoft.Templates" database="master" path="/sitecore/templates/Project/Main Tenant" />

					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>

