<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
		<unicorn>
			<configurations>
				<configuration name="Feature.Hero.Serialization" description="sxa module" dependencies="Foundation.*" extends="SxaBysoft.Base" >
					<predicate>
						<include name="Hero.Templates" database="master" path="/sitecore/templates/$(layer)/Main Tenant/$(module)" />
						<!-- By default serializes all items created with SXA module, check the base configuration in Unicorn.Helix.config -->
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
  </sitecore>
</configuration>