<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
		<unicorn>
			<configurations>
				<configuration name="Feature.Hero.Serialization" description="Sxa Hero Module" dependencies="Foundation.*" extends="SxaBysoft.XA.Module" >
					<predicate>

					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
  </sitecore>
</configuration>