<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
	<sitecore unicorn:require="Enabled">
		<unicorn>
			<configurations>
				<configuration name="Project.Global.Website" description="Shared Site Content" dependencies="Foundation.*" extends="SxaBysoft.Base">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!--global project items-->
						<include name="Global.Templates" database="master" path="/sitecore/templates/Project/Main Tenant/Global" />
						<include name="Global.Templates.Branches" database="master" path="/sitecore/templates/Branches/Project/Main Tenant/Global" />
						<include name="Global.Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Project/Main Tenant/Global" />
						<include name="Global.System.Settings" database="master" path="/sitecore/system/Settings/Project/Main Tenant/Global" />
						<include name="Global.Media" database="master" path="/sitecore/media library/Project/Main Tenant/Global" />
						<include name="Global.Forms" database="master" path="/sitecore/Forms/Main Tenant/Global" />
						<include name="Global.Theme" database="master" path="/sitecore/media library/Themes/Main Tenant/Global" />
						<include name="Global.Content" database="master" path="/sitecore/content/Main Tenant/Global" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>