<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="SxaBysoft.Base" abstract="true">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization"  useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>

					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
          </predicate>
					
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" />
        </configuration>


				<configuration name="SxaBysoft.XA.Module" abstract="true" extends="SxaBysoft.Base">
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/$(layer)/Main Tenant/$(module)" />
						<include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/Main Tenant/$(module)" />
						<include name="System.Settings" database="master" path="/sitecore/system/Settings/$(layer)/Main Tenant/$(module)" />
						<include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/$(layer)/Main Tenant/$(module)" />
						<include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/Main Tenant/$(module)" />
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/$(layer)/Main Tenant/$(module)" />
					</predicate>
				</configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>